/* FONTS */

.topTitle {
    position: absolute;
    width: 133px;
    height: 25px;
    left: 77px;
    top: 40px;
    
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
    text-transform: uppercase;

}

.eyecatcher {
position: absolute;
width: 586px;
height: 190px;
left: 735px;
top: 265px;

}

h1 {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 95px;
    letter-spacing: -0.035em;

}

body {
font-family: ;
font-size: 24px;
line-height: 35.54px;
letter-spacing: -3.5%;

}

/* pictures and buttons */

.heroPic {
    position: absolute;
    left: 5.35%;
    right: 57.21%;
    top: 24.54%;
    bottom: 34.03%;
}

.cta {

}